In [108]:
import pandas as pd
import datetime

In [3]:
root_dir='/home/jovyan/labs/SlaterFireHydrology';
data_dir=root_dir+'/data';
raw_dir=data_dir+'/Raw';

In [6]:
filename=raw_dir+'/IndianCreekFlowData.txt'

In [74]:
dataframe=pd.read_csv(filename,header=30, skiprows=[31],\
                      delimiter='\t', low_memory=False)

In [92]:
dataframe.rename(mapper={'16574_00060':'discharge','16575_00065':'gage_ht'},inplace=True, axis="columns")

In [101]:
flow_df = dataframe[['datetime','discharge','gage_ht']]

In [103]:
flow_df.head()

           datetime  discharge  gage_ht
0  2015-01-01 00:00      320.0     5.01
1  2015-01-01 00:15      320.0     5.01
2  2015-01-01 00:30      320.0     5.01
3  2015-01-01 00:45      320.0     5.01
4  2015-01-01 01:00      320.0     5.01

In [119]:
flow_df['date']=[str[:-6] for str in flow_df['datetime']]

/tmp/ipykernel_355/3369843337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flow_df['date']=[str[:-6] for str in flow_df['datetime']]

In [121]:
flow_df.head()

           datetime  discharge  gage_ht        date
0  2015-01-01 00:00      320.0     5.01  2015-01-01
1  2015-01-01 00:15      320.0     5.01  2015-01-01
2  2015-01-01 00:30      320.0     5.01  2015-01-01
3  2015-01-01 00:45      320.0     5.01  2015-01-01
4  2015-01-01 01:00      320.0     5.01  2015-01-01

In [128]:
flow_agg_df = flow_df.groupby(by='date').agg('mean')
flow_agg_df.columns = flow_agg_df.columns.get_level_values(0)

In [130]:
flow_agg_df.head()

             discharge   gage_ht
date
2015-01-01  310.656250  4.981979
2015-01-02  290.437500  4.922396
2015-01-03  272.614583  4.867604
2015-01-04  257.375000  4.817917
2015-01-05  244.250000  4.774167