In [1]:
import pandas as pd

In [3]:
root_dir='/home/jovyan/labs/SlaterFireHydrology';
data_dir=root_dir+'/data';
raw_dir=data_dir+'/Raw';

In [6]:
filename=raw_dir+'/IndianCreekFlowData.txt'

In [35]:
dataframe=pd.read_csv(filename,skiprows=lambda x: x in range(29) or x ==31,delimiter='\t', low_memory=False)

In [36]:
dataframe.head()

                                                                                              #
agency_cd site_no  datetime         tz_cd 16574_00060 16574_00060_cd 16575_00065  16575_00065_cd
USGS      11521500 2015-01-01 00:00 PST   320         A              5.01                      A
                   2015-01-01 00:15 PST   320         A              5.01                      A
                   2015-01-01 00:30 PST   320         A              5.01                      A
                   2015-01-01 00:45 PST   320         A              5.01                      A

In [30]:
range

SyntaxError: invalid syntax (3590464057.py, line 1)